@import url("https://fonts.googleapis.com/css?family=Montserrat");

.home {
  position: relative;
  /* Set the background image and its properties */
  background-image: url("https://res.cloudinary.com/dduqxunnf/image/upload/v1690220780/resto/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add a pseudo-element to create the blurred overlay on the left side */
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Adjust this value to control the width of the blurred area */
  height: 100%;
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  z-index: -1;
}

.headerContainer {
  text-align: center;
  color: white;
  z-index: 1;
}

h1 {
  font-size: 3rem;
}

.home .headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 70px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #1976d2;
  /* Add a circular gradient background */
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent);
}

.home .headerContainer p {
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  color: black;
  /* Add a circular gradient background */
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), transparent);
}

.home .headerContainer button {
  background-color: #1976d2;
  margin-top: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 180px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.home .headerContainer button:hover {
  background-color: #0050fc;
}

/* Add text shadow to h1 and p elements */
.home .headerContainer p {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Adjust the shadow values as needed */
}

/* Mobile View */
@media only screen and (max-width: 600px) {
  .home {
    justify-content: center;
    align-items: center;
  }
  .headerContainer {
    margin-left: 0;
    border-radius: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1216197b;
    color: white;
  }
  .home .headerContainer h1 {
    font-size: 50px;
    height: 30px;
    margin: 30px 0px;
    color: #1976d2;
  }
  .home .headerContainer p {
    margin: 20px;
    font-size: 30px;
    color: white;
  }
  .home .headerContainer button {
    margin-top: 20px;
    background-color: #1976d2;
    color: white;
    margin-bottom: 30px;
  }
  /* Add text shadow to h1 and p elements in mobile view */
  .home .headerContainer h1,
  .home .headerContainer p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust the shadow values as needed */
  }
}
